<div class="menu-icons">
    <span class="mat-button-wrapper">
      <i class="flag-icon flag-icon-us"></i>
  </span>
    <span class="example-icon"> 
        <mat-icon class="nav-menu"  matBadge="15" matTooltip="Sidebar">message</mat-icon>
    </span>
  <span class="example-icon">
      <mat-icon class="nav-search"  matBadge="15" matTooltip="Search & enter">email</mat-icon>
  </span>
  <span class="example-icon">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ0FpBg5Myb9CQ-bQpFou9BY9JXoRG6208_Q&usqp=CAU" alt="user" class="profile-pic">
</span>
  <span class="example-icon">
    <mat-icon class="nav-search"  matBadge="15" matTooltip="Search & enter">settings</mat-icon>
</span>
</div>