/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~flag-icon-css/css/flag-icons.min.css';

html, body { height: 100%; font-family: 'Poppins'; }
body {margin: 0; background-color: rgb(25, 30, 40); font-family: 'Poppins';}

